.footer {
  background-color: $very-dark-cyan;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  color: white;
  padding: $sp2 $sp1;

  .footer__list {
    list-style: none;
  }

  .logo--blanco {
    width: 50%;
    margin: $sp2 0;
  }
}
